<md-content>      
        <md-nav-bar class="md-primary md-hue-1" md-selected-nav-item="currentNavItem" nav-bar-aria-label="Navigation">
                <div flex="80" class="navBtn">
                        <md-nav-item  md-nav-href="/#!/entries" name="Tasks">Tasks</md-nav-item>
                </div> 
                <div flex="80" class="navBtn">
                       <md-nav-item md-nav-href="/#!/projects" name="Projects">Projects</md-nav-item>  
                </div>
                <div flex="80" class="navBtn">
                      <md-nav-item md-nav-href="/#!/reports" name="Reports">Progress</md-nav-item>  
                </div>
        </md-nav-bar>
</md-content>
