<md-content layout="row">
        <md-sidenav class="sidenav1" md-is-locked-open='true'>
        <md-nav-bar class="md-primary md-hue-1" md-selected-nav-item="currentNavItem" nav-bar-aria-label="Navigation">
                <md-nav-item md-nav-href="/#!/entries" name="Tasks">Tasks</md-nav-item>
                <md-nav-item md-nav-href="/#!/projects" name="Projects">Projects</md-nav-item>
                <md-nav-item md-nav-href="/#!/reports" name="Reports">Progress</md-nav-item>
        </md-nav-bar>
</md-sidenav>
</md-content>
