<md-content flex layout="column">
<div id="entries">
    <md-content class="md-primary md-hue-2">
        <h2>Add an Entry</h2>
    </md-content>
        <div class="inputDiv md-primary md-hue-3">
                    <md-input-container>
                        <label>Project</label>
                        <md-select ng-model="vm.newEntry.project_id" class="md-accent md-hue-2">
                            <md-option ng-repeat="project in vm.projectList.list" ng-value="{{project.id}}">
                                {{project.project_description}} / {{project.client}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <br>
                    <md-input-container class="md-accent md-hue-2">
                        <label>Task Description</label>
                        <input ng-model="vm.newEntry.description">
                    </md-input-container>
                    <div>
                    <md-input-container class="md-accent md-hue-2">
                        <label>Start Date</label>
                        <input type="datetime-local" id="start_date" ng-model="vm.newEntry.start_date">
                    </md-input-container>
                    <md-input-container class="md-accent md-hue-2">
                        <label>End Date</label>
                        <input type="datetime-local" id="end_date" ng-model="vm.newEntry.end_date">
                    </md-input-container>
                    <md-button class="md-accent" ng-click="vm.addEntry(vm.newEntry)">Add Entry</md-button>
                </div>
         </div>  
         <md-divider></md-divider>
    <div class="tableDiv">
            <table>
                    <thead>
                        <tr>
                            <th>
                                Client
                            </th>
                            <th>
                                Task Description
                            </th>
                            <th>
                                Start Date and Time
                            </th>
                            <th>
                                End Date and Time
                            </th>
                            <th>
                                Total Time
                            </th>
                            <th>
                                Remove
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="entry in vm.listOfEntries.list">
                        <tr>
                            <td>
                                {{entry.project_client}}
                            </td>
                            <td>
                                {{entry.entry_desc}}
                            </td>
                            <td>
                                {{entry.start_date | date:'MMMM dd, yyyy'}}<br><hr>
                                {{entry.start_date | date:'h:mma'}}
                            </td>
                            <td>
                                {{entry.end_date | date: 'MMMM dd, yyyy'}}<br><hr>
                                {{entry.end_date | date:'h:mma'}}
                            </td>
                            <td>
                                {{entry.total_time}} hours
                            </td>
                            <td>
                                <md-button class="md-warn md-raised" ng-click="vm.removeEntry(entry.entry_id)">Delete</md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
    </div>
</div>
</md-content>