<md-toolbar layout="column" layout-align="left center"  class="md-primary md-hue-3 md-raised">
    <div flex="80">
        <md-button class="md-primary md-hue-1 md-raised"
         style="padding:15px; font-size:20px; color: rgb(174, 248, 231);"
          ng-click="vm.taskShow = !vm.taskShow">Add a Task</md-button>
    </div>
</md-tooldbar>
<md-content flex="66" layout="column">
<div class="views">
    <div ng-show="vm.taskShow">
    <md-content class="md-primary md-hue-3">
        <md-toolbar layout="row">
                    <md-input-container flex>
                        <label>Project</label>
                        <md-select ng-model="vm.newEntry.project_id" class="md-accent">
                            <md-option ng-repeat="project in vm.projectList.list" ng-value="{{project.id}}">
                                {{project.project_description}} / {{project.client}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    
                    <md-input-container class="md-accent" flex>
                        <label>Task Description</label>
                        <input ng-model="vm.newEntry.description">
                    </md-input-container>
                
                    <md-input-container class="md-accent" flex>
                        <label>Start Date</label>
                        <input type="datetime-local" id="start_date" ng-model="vm.newEntry.start_date">
                    </md-input-container>
                    <md-input-container class="md-accent" flex>
                        <label>End Date</label>
                        <input type="datetime-local" id="end_date" ng-model="vm.newEntry.end_date">
                    </md-input-container>
                    <md-button class="md-accent md-hue-3" ng-click="vm.addEntry(vm.newEntry)">Add Entry</md-button>
        </md-toolbar>
</div> 
</md-content>
<hr>
<div class="views">
    <div class="tableDiv">
            <table>
                    <thead>
                        <tr>
                            <th>
                                Client
                            </th>
                            <th>
                                Task Description
                            </th>
                            <th>
                                Start Date and Time
                            </th>
                            <th>
                                End Date and Time
                            </th>
                            <th>
                                Total Time
                            </th>
                            <th>
                                Remove
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="entry in vm.listOfEntries.list">
                        <tr>
                            <td>
                                {{entry.project_client}}
                            </td>
                            <td>
                                {{entry.entry_desc}}
                            </td>
                            <td>
                                {{entry.start_date | date:'MMMM dd, yyyy'}}<br><hr>
                                {{entry.start_date | date:'h:mma'}}
                            </td>
                            <td>
                                {{entry.end_date | date: 'MMMM dd, yyyy'}}<br><hr>
                                {{entry.end_date | date:'h:mma'}}
                            </td>
                            <td>
                                {{entry.total_time}} hours
                            </td>
                            <td>
                                <md-button class="md-warn md-raised" ng-click="vm.removeEntry(entry.entry_id)">Delete</md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
    </div>
</div>
</md-content>