<div>
    <h1>All Projects</h1>
    <div class="inputDiv">
            <!-- <md-input-container>
                    <label>Username</label>
                    <input type="text" ng-model="user.name">
                  </md-input-container> -->
        <md-input-container>
            <label>Project</label>
            <input type="text" ng-model="vm.newProject.project_description">
        </md-input-container>
        <md-input-container>
            <label>Client</label>
            <input type="text" ng-model="vm.newProject.client">
        </md-input-container>
            <md-button ng-click="vm.addProject(vm.newProject)">
              Add Project
            </md-button>
        </div>   
        <br>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>
                        Client
                    </th>
                    <th>
                        Project Description
                    </th>
                    <!-- <th> -->
                        <!-- Total Hours -->
                    <!-- </th> -->
                    <th>
                        Remove
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="project in vm.projectList.list">
                <tr>
                    <td>
                        {{project.client}}
                    </td>
                    <td>
                        {{project.project_description}}
                    </td>
                    <!-- <td> -->
                        <!-- {{project.total_hours}} -->
                    <!-- </td> -->
                    <td>
                        <button ng-click="vm.removeProject(project.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>