<div>
    <h1>All Projects</h1>
    <div class="inputDiv">
            <label for="description">Add a Project: </label><br>
            <input type="text" id="projectDescription" placeholder="Project" ng-model="vm.newProject.project_description">
            <input type="text" id="projectClient" placeholder="Client" ng-model="vm.newProject.client">
            <button ng-click="vm.addProject(vm.newProject)">Add Project</button>
        </div>   
        <br>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>
                        Client
                    </th>
                    <th>
                        Project Description
                    </th>
                    <th>
                        Total Hours
                    </th>
                    <th>
                        Remove
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="project in vm.projectList.list">
                <tr>
                    <td>
                        {{project.client}}
                    </td>
                    <td>
                        {{project.project_description}}
                    </td>
                    <td>
                        {{project.total_hours}}
                    </td>
                    <td>
                        <button ng-click="vm.removeProject(project.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>