<md-toolbar layout="column" layout-align="left center"  class="md-primary md-hue-3">
    <div flex="80" class="navBtn">
            <md-button class="md-primary md-hue-1 md-raised" style="padding:15px; font-size:20px; color: rgb(174, 248, 231);" ng-click="vm.projectShow = !vm.projectShow">Add a Project</md-button>
    </div>
</md-tooldbar>
<md-content flex="66" layout="column">
<div class="views">
    <div ng-show="vm.projectShow">
    <div class="md-primary md-hue-3">
        <md-toolbar layout="row">
        <md-input-container class="md-accent" flex>
            <label>Project</label>
            <input type="text" ng-model="vm.newProject.project_description">
        </md-input-container>
        <md-input-container class="md-accent" flex>
            <label>Client</label>
            <input type="text" ng-model="vm.newProject.client">
        </md-input-container>
        <md-input-container class="md-accent" flex>
            <label>Hourly Rate</label>
            <input type="number" ng-model="vm.newProject.hourly_rate">
        </md-input-container>
            <md-button class="md-accent md-hue-3" ng-click="vm.addProject(vm.newProject); get">
              Add Project
            </md-button>
    </div> 
</div> 
</md-content> 
<hr>
        <div class="views" flex layout-sm="300px" layout-xs="40px">
                <table>
                        <thead>
                            <tr>
                                <th>
                                    Client
                                </th>
                                <th>
                                    Project Description
                                </th>
                                <th>
                                    Total Hours
                                </th> 
                                <th>
                                    Hourly Rate
                                </th>
                                <th>
                                    Total Earnings
                                </th>
                                <th>
                                    Update
                                </th>
                                <th>
                                    Remove
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="project in vm.projectList.list">
                            <tr>
                                <td>
                                    {{project.client}}
                                </td>
                                <td>
                                    {{project.project_description}}
                                </td>
                                <td>
                                    {{project.total_time}} hours
                                </td>    
                                <td>
                                    {{project.hourly_rate | currency}}
                                </td>
                                <td>
                                    {{project.total_earnings | currency}}
                                </td>
                                <td>
                                    <md-button class="md-primary md-hue-2 md-raised" ng-click="vm.updateProject(project.id, update)">Edit</md-button>
                                </td>
                                <td>
                                    <md-button class="md-warn md-raised" ng-click="vm.removeProject(project.id)">Delete</md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>                   
        </div>
    </div>